profiles {

    // --- 1) Local execution ---
    local {
        process.executor = 'local'
    }

    // --- 2) Docker execution ---
    docker {
        process.executor = 'local'
        docker.enabled = true
        docker.runOptions = '-v /Users/rugaremaruzani/Documents/lifebit-toys/pm:/plugins'
        process.container = 'nfcore/vep:108.2.GRCh38'
    }
}
