profiles {

    // --- 1) Local execution ---
    local {
        process.executor = 'local'
    }

    // --- 2) Docker execution ---
    docker {
        process.executor = 'local'
        docker.enabled = true
        process.container = 'ensemblorg/ensembl-vep:release_115.2'

        // Equivalent of your Apptainer --bind options
        docker.runOptions = '-v s3://512426816668-public-data-resources/vep_resources/VEP115:512426816668-public-data-resources/vep_resources/VEP115'
    }
}
