params {
}

process {
    // Default resource settings
    cpus   = 1
    memory = "1 GB"
    time   = "1h"
}

profiles {

    // --- 1) Local execution ---
    local {
        process.executor = 'local'
    }

    // --- 2) Docker execution ---
    docker {
        process.executor = 'local'
        docker.enabled = true
        process.container = 'biocontainers/samtools:v1.9-4-deb_cv1'
    }

    // --- 3) SLURM execution ---
    slurm {
        process.executor = 'slurm'
        process.queue = 'short'
        process.cpus = 2
        process.memory = '4 GB'
        process.time = '2h'
    }
}
